  <!-- Add EJS code here -->
  <% include partials/_head %>
    <header>
      <% include partials/_header %>
    </header>
      <ul>
        <% for (let x in urls) {%>
          <li><%= urls[x].longURL %>: <a href="<%= urls[x].longURL %>"><%= x %></a><br />
            <form action="/urls/<%= x %>" method="GET">
              <button type="submit">Edit</button>
            </form>
            <form action="/urls/<%= x %>/delete" method="POST">
              <button type="submit">Delete</button>
            </form>
          </li>
        <% }; %>
      </ul>

    <a href="/urls/new">Shorten a link!</a>


  </body>
</html>